@mixin fontStyles($fontMap) {
    font: {
        size: map-get($fontMap, 'size');
        weight: map-get($fontMap, 'weight');
    };
    line-height: map-get($fontMap, 'line');
}

@mixin iconSize($size, $px) {
    i.bi {
        font: {
            size: $size;
        };
        line-height: $size;
        width: $px;
        height: $px;
        display: inline-block;
    }
}