@use 'sass:math';

@import 'functions';
@import 'mixins';
@import 'vars';
@import 'grid';
@import 'utils';
@import 'base';

@import 'components';

// Custom Theme Styles
.navbar {
    width: 100%;
    background: $primaryDarkBg;
    color: $normalTextLight;

    &-secondary {
        background: $primaryDarkerBg;
    }

    a {
        color: $normalTextLight;
    }

    .grid {
        align-items: center;
    }

    .link-tel {
        padding: 10px;
    }

    .social-links a:hover,
    .menu a:hover,
    .menu-toggle:hover,
    .link-tel:hover {
        background: $primary;
    }

    .menu-toggle {
        color: $headingTextLight;
    }
}

.hero {
    background-size: cover;
    padding: 125px 0;
    background-position: top center;
    background-image: url('/dist/assets/images/hero-bg.png');

    @media (min-width: map-get($breakpoints, 'md')) {
        background-image: url('/dist/assets/images/hero-bg-lg.png');
    }

    @media (min-width: map-get($breakpoints, 'lg')) {
        padding: 126px 0 230px;
    }

    @media (min-width: map-get($breakpoints, 'xl')) {
        background-image: url('/dist/assets/images/hero-bg-xl.png');
    }

    &-heading {
        margin-bottom: 25px;
        @include fontStyles(fontMap(em(48), em(74, 48), 400));

        @media (min-width: map-get($breakpoints, 'lg')) {
            @include fontStyles($heroHeading);
        }
    }

    &-subheading {
        @include fontStyles(fontMap(em(22), em(40, 22), 400));

        @media (min-width: map-get($breakpoints, 'lg')) {
            @include fontStyles($heroSubHeading);
            margin-bottom: 38px;
        }
    }
}

.about {
    padding: 150px 0;

    &-content {
        max-width: 578px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

.process {
    padding: 150px 0;
    background-image: url('/dist/assets/images/process-bg.png');
    background-repeat: repeat;
    color: $normalTextLight;

    h2, h3 {
        color: $headingTextLight
    }

    &-content {
        width: 100%;
        max-width: 520px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 102px;
    }

    .process-stage {
        padding-bottom: 300px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        position: relative;        

        &-icon {
            width: 120px;
            min-width: 120px;
            height: 120px;
            background-color: $primaryLightBg;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 60px;
            color: $headingText;

            i {
                width: 42px;
                height: 42px;
                @include fontStyles(fontMap(em(42), em(42, 42), 400));
            }
        }

        &-content {
            width: 100%;
            max-width: 403px;
            margin-left: 15px;
            margin-top: 40px;
            font-size: 12px;
        }

        &-line {
            height: 100%;
            width: 8px;
            background-color: $primaryLightBg;
            position: absolute;
            top: 120px;
            left: (math.div(120, 2) - math.div(8, 2)) * 1px;
        }

        @media (min-width: map-get($breakpoints, 'sm')) {
            justify-content: space-between;

            &-content {
                max-width: 546px;
                font-size: 16px;
            }
        }

        @media (min-width: map-get($breakpoints, 'md')) {
            &-content {
                max-width: 568px;
            }
        }

        @media (min-width: map-get($breakpoints, 'lg')) {
            display: inline-flex;
            justify-content: flex-start;
            width: auto;
            margin: 0 auto;

            &:nth-child(even) {
                .process-stage-content {
                    right: calc(50% + 65px);
                }
            }

            &:nth-child(odd) {
                .process-stage-content {
                    left: calc(50% + 65px);
                }
            }

            &:last-child {
                .process-stage-content {
                    left: auto;
                    right: auto;
                    max-width: 572px;
                    text-align: center;
                }
            }

            &-icon {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            &-line {
                left: 50%;
                transform: translateX(-50%);
            }

            &-content {
                max-width: 352px;
                position: relative;
                top: (120 + 30) * 1px;
                margin: 0;
            }
        }
    }
}

.portfolio {
    padding: 150px 0;

    &-list {
        width: 100%;
        gap: 140px 0;

        > div:nth-child(even) .portfolio-item .portfolio-item-content {
            order: 2;
        }
    }

    &-item {
        width: 100%;
        
        &-image {
            width: 100%;
            height: 351px;
            background-size: cover;
            background-position: center center;
        }
    }

    @media (min-width: map-get($breakpoints, 'sm')) {
        &-list {
            > div:nth-child(even) .portfolio-item .portfolio-item-content {
                order: initial;
            }
        }

        &-item {
            &-image {
                height: 460px;
            }
        }
    }

    @media (min-width: map-get($breakpoints, 'lg')) {
        &-list {
            gap: 168px 0;

            > div:nth-child(odd) .portfolio-item .portfolio-item-content {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }

        &-item {
            &-content > * {
                max-width: 520px;
                width: 100%;
            }

            &-image {
                height: 364px;
            }
        }
    }

    @media (min-width: map-get($breakpoints, 'xl')) {
        &-list {
            max-width: 1211px;
            margin: 0 auto;
        }
    }
}

.news {
    padding: 150px 0;

    h2 {
        text-align: center;
    }
}

.stats {
    padding: 150px 0;

    h2 {
        margin-bottom: 40px;
    }
    
    &-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        max-width: 639px;
        margin: 0 auto;

        @media (min-width: map-get($breakpoints, 'lg')) {
            max-width: 1019px;
        }
    }

    &-number {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7;

        header {
            @include fontStyles(fontMap(em(48), em(56, 48), 400));
        }

        footer {
            @include fontStyles(fontMap(em(16), em(25, 16), 400));
        }

        @media (min-width: map-get($breakpoints, 'lg')) {
            header {
                @include fontStyles(fontMap(em(70), em(80, 70), 400));
            }
    
            footer {
                @include fontStyles(fontMap(em(22), em(40, 22), 400));
            }
        }
    }
}

.pageFooter {
    background-color: $primaryDarkerBg;
    padding: 120px 0;
    color: $normalTextLight;
    font-size: 12.8px;

    > .container > .grid:first-child {
        margin-bottom: 60px;
    }

    h1, h2, h3 {
        color: $headingTextLight;
    }

    a {
        color: $normalTextLight;

        &:hover {
            color: $primaryLightBg;
        }
    }

    .menu {
        margin-bottom: 60px;

        a {
            @include fontStyles(fontMap(rem(16), rem(30, 16), 400));
        }
    }

    .social-links {
        @include iconSize(rem(18, 16), 18px);
    }

    @media (min-width: map-get($breakpoints, 'lg')) {
        font-size: 16px;

        .menu a {
            @include fontStyles($text);
        }
    }
}

.footer-about {
    max-width: 357px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;

    p {
        text-align: left;
    }

    @media (min-width: map-get($breakpoints, 'sm')) {
        max-width: 482px;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
        text-align: left;
    }

    @media (min-width: map-get($breakpoints, 'xl')) {
        max-width: 363px;
    }
}